:root {
  --font: 'Open Sans', sans-serif;
  --primary-color: #FE724C;
  --primary-hover-color: #b83714;
  --white-color: #FFF;
  --text-secondary-color: #9EA1B1;
  --text-color : #000;
  --separator-color: #D4D6E0;
}

body {
  font-family: var(--font);
  margin: 0;
}